<div class="profile-summary__status-bar">
    <p *ngIf="userIsOnline; else userIsOffline" class="profile-summary__status_online">
        Сейчас на сайте
    </p>
    <ng-template #userIsOffline>
        <p>Пользователь не в сети</p>
    </ng-template>
    <!-- <p class="profile-summary__views">{{user.viewsCounter}} просмотров профиля</p> -->
</div>
<h1>
    {{isMyProfile ? 'Здравствуйте, ' : 'Здравствуйте, меня зовут '}} {{user?.personalInfo.firstName}}
</h1>
<div class="profile-summary__info-block">
    <img class="profile-summary__avatar" src="{{user?.personalInfo.avatar}}" alt="avatar" />
    <div>
        <p class="profile-summary__age">Возраст: 22</p>
        <p class="profile-summary__address">{{user?.personalInfo.address}}</p>
        <div class="profile-summary__tasks">
            <p class="profile-summary__tasks_done">Всего выполнено заданий: {{user?.taskInfo.finishedTasks}}</p>
            <p class="profile-summary__tasks_created">Всего создано заданий: {{user?.taskInfo.total}}</p>
        </div>
        <div class="profile-summary__rating">Средний рейтинг: </div>
        <p class="profile-summary__reviews-count">Всего отзывов: {{user?.workInfo.reviews.total}}</p>
    </div>
</div>
<button *ngIf="!isMyProfile" class="profile-summary__btn">Задать вопрос</button>