@import '../../styles/variables.scss';

.header-nav {
    display: flex;
    padding: 20px 40px 10px 40px;

    & > :nth-child(n):not(:last-child) {
        margin-left: 20px;
    }

    &__logo {
        width: 7%;
    }

    &__dropdown-position {
        position: relative;
    }

    &__link {
        color: $color-black-opacity-darken;

        &:hover {
            color: $color-orange-normal;
        }

        &_status_disabled {
            color: $color-lightgray-normal;

            pointer-events: none;
        }
    }

    &__user-nav {
        margin-left: auto;

        & > :nth-child(n) {
            margin-left: 20px;
        }
    }
}
