<section class="jumbotron">
  <div class="jumbotron__offer">
    <h1 class="jumbotron__title">Освободим вас от забот</h1>
    <h2 class="jumbotron__subtitle">Поможем найти надежного исполнителя для любых задач</h2>
    <form class="jumbotron__form"> 
       <input class="jumbotron__input" type="text" [value]="inputValue" placeholder="Напишите, чем вам помочь...">
       <button class="jumbotron__button">Заказать услугу</button>
    </form>
    <p class="jumbotron__example-query">
       Например: 
       <span (click)="moveTextToInput()" 
             [textContent]="exampleQuery" 
             class="jumbotron__example-link">
        </span>
    </p>
    <a class="jumbotron__action-link" href="#">стать исполнителем и начать зарабатывать</a>
  </div>
  <div class="jumbotron__video-container">
    <video class="jumbotron__video" poster="https://static.youdo.com/i/video/frame.jpg" loop autoplay muted>
      <source src="https://static.youdo.com/i/video/hero_video.mp4" type="video/mp4" />
    </video>
 </div>
</section>