<div class="task-preview">
  <div class="layout_flex">
    <a href="#" class="task-preview__title link">Category</a>
    <div class="row">
      <img
        title="Оплата онлайн через сделку без риска"
        src="../../assets/sdelka_online.svg"
        alt="sbr"
      />
      <span class="task-preview__price">до Price руб.</span>
    </div>
  </div>
  <div class="row">
    <img
      class="task-preview__avatar"
      src="../../assets/test_avatar.png"
      alt="avatar"
    />
    <div class="column layout_margin_left">
      <a href="#" class="link">Nickname</a>
      <span>Reviews</span>
    </div>
  </div>
</div>
