<div class="executor-preview">
  <!-- TODO check if I could use app-layout here -->
  <div class="executor-preview__left-block">
    <img src="{{ executor?.personalInfo.avatar }}"
      alt="executor-avatar"
      class="executor-preview__avatar" />
    <div class="executor-preview__reviews">
      <span class="review--positive">Отзывы:</span>
      {{ executor?.workInfo.reviews.positive }}
    </div>
    <!-- <div class="executor-preview__rating">{{ executor?.rating }}</div> -->
  </div>
  <div class="executor-preview__right-block">
    <div class="executor-preview__header">
      <a (click)="navigateToUserProfile(executor?._id)"
        class="executor-preview__name link">{{ executor?.personalInfo.firstName }}&nbsp;{{ executor?.personalInfo.lastName }}</a>
    </div>
    <p class="executor-preview__last-online">{{ executor?.lastActivityDate }}
    </p>
    <p class="executor-preview__description">
      {{ executor?.personalInfo.description }}</p>
    <app-button class="executor-preview__btn"
      [title]="'Предложить задание'"></app-button>
  </div>
</div>