@import "../../../styles/variables.scss";

:host {
  display: flex;
  margin: 0 0 30px 0;
  padding: 10px 0;

  .executor-preview {
    &__left-block {
      width: 20%;
    }

    &__right-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
      padding: 0 0 0 20px;
    }

    &__avatar {
      width: 100%;

      border-radius: 50%;
    }

    &__reviews {
      font-size: 0.8rem;
      color: $color-black-opacity-normal;
    }

    &__name {
      font-size: 1.4rem;

      border-bottom: 1px solid $color-blue-dark;
    }

    &__description {
      color: $color-black-opacity-normal;
    }

    &__btn {
      align-self: flex-start;
    }
  }
}
