@import "../../variables.scss";

a {
  color: $color-black-opacity-darken;

  &:hover {
    color: $color-orange-normal;
  }
}

.header-nav {
  display: flex;
  padding: 20px 40px 10px 40px;

  &__logo {
    width: 80px;
  }

  & > :nth-child(n) {
    margin-left: 20px;
  }

  &__link-container {
    position: relative;
  }

  .user-menu {
    margin-left: auto;

    &__link {
      border-bottom: 1px dotted $color-black-opacity-darken;

      &:hover {
        border-bottom: none;
      }
    }

    &__delemeter {
      margin: 0 10px;
    }
  }
}
