<nav class="header-nav">
  <a routerLink="/youdo" class="header-nav__link header-nav__logo">
    <img src="../../assets/download.svg" alt="youdo-logo" />
  </a>
  <div class="header-nav__link-container">
    <a class="header-nav__link" (click)="isHover = !isHover" #createTaskLink>
      Создать задание
    </a>
    <app-dropdown-list *ngIf="isHover"></app-dropdown-list>
  </div>
  <a routerLink="/youdo/tasks-all-any-all-1" class="header-nav__link"
    >Найти задание</a
  >
  <a routerLink="/youdo/executors-courier" class="header-nav__link"
    >Исполнители</a
  >
  <div class="user-menu">
    <a href="#" class="user-menu__link">Вход</a>
    <span class="user-menu__delemeter">или</span>
    <a href="#" class="user-menu__link">регистрация</a>
  </div>
</nav>
