@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

a {
  font-family: "Lato", sans-serif;
  color: #444444;
  text-decoration: none;
}

.header-nav {
  display: flex;
  padding: 10px 40px;

  &__logo {
    width: 80px;
  }

  &__link {
    margin-left: 20px;

    &:hover {
      color: #ffa200;
    }
  }

  .user-menu {
    margin-left: auto;

    &__link {
      border-bottom: 1px dotted #444444;

      &:hover {
        color: #ffa200;

        border-bottom: none;
      }
    }

    &__delemeter {
      margin: 0 10px;
    }
  }
}
