@import "../../../styles/variables.scss";

.verification-banner {
  position: relative;

  display: flex;
  padding: 20px 12px 20px 120px;

  font-size: 12px;

  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 3px 8px $color-lightgray-normal;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12px;

    display: block;
    width: 91px;
    height: 88px;

    background: $color-transparent
    url("../../../assets/verification-banner.svg") no-repeat center;
    background-size: contain;
  }

  &__text {
    color: #444444;
  }
}
