@import "../../../styles/variables.scss";

.jumbotron {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 100%;
    height: 100%;

    background-color: $color-black-opacity-dark;
  }

  &__offer {
    position: absolute;
    z-index: 2;

    width: 50%;

    text-align: center;
  }

  &__title,
  &__subtitle {
    margin: 0;

    color: $color-white;
  }

  &__title {
    font-size: 3.11111111em;
    line-height: 1.10714286;
    letter-spacing: 1.4px;
  }

  &__subtitle {
    padding: 8px 0 25px 0;

    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.4px;
  }

  &__form {
    display: flex;
    width: 100%;
    padding: 2px;

    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 12px 32px 0 $color-black-opacity-light;

    transition: box-shadow 0.3s ease;

    &:hover {
      vertical-align: middle;

      box-shadow: 0 0 12px 0 $color-orange-normal 0 5px 30px 0
      $color-orange-dark;
    }
  }

  &__input {
    flex-grow: 2;
    padding: 2px 11px 0 16px;

    font-weight: 400;
    font-size: 18px;

    background: $color-transparent;
    border: 0;
    border-radius: 5px;
    outline: 0;

    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &__button {
    ::ng-deep {
      // TODO что-то сделать с padding, margin - !important- это плохо
      button {
        margin: 0 !important;
        padding: 20px 15px !important;
      }
    }
  }

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    transform: translate(-50%, -50%);
  }

  &__example-query {
    margin: 0;
    padding: 0.76923077em 0 2.76923077em 0;

    font-size: 0.72222222em;
    line-height: 1.38461538;
    text-align: left;
    color: $color-lightgray-normal;
  }

  &__example-link {
    color: $color-lightgray-normal;

    border-bottom: 1px dotted $color-lightgray-normal;
    cursor: pointer;

    transition: all 0.3s ease;
    &:hover {
      color: $color-lightgray-light;

      border-bottom: 1px dotted $color-lightgray-light;
    }
  }

  &__action-link {
    position: relative;
    z-index: 2;

    color: $color-blue-light;
    text-decoration: none;

    border-bottom: 1px solid $color-blue-normal;

    transition: all 0.3s ease;

    &:hover {
      color: $color-blue-normal;

      border-color: $color-blue-normal;
      outline: none;

      &::before {
        background: $color-transparent
        url(../../../assets/action-link-hover.svg) no-repeat center;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -40px;

      display: block;
      width: 30px;
      height: 30px;
      margin-right: 30px;

      background: $color-transparent url(../../../assets/action-link.svg)
      no-repeat center;
      background-size: contain;
    }
  }

  &__search-container {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    bottom: -40px;
    left: 0;

    width: 100%;

    text-align: left;

    background-color: $color-white;
  }
}
