<section class="jumbotron"
         *ngIf="!isLoading">
  <div class="jumbotron__offer">
    <h1 class="title">Освободим вас от забот</h1>
    <h2 class="subtitle">
      Поможем найти надежного исполнителя для любых задач
    </h2>

    <div class="jumbotron__search-container">
      <form class="form">
        <input class="input"
               type="text"
               placeholder="Напишите, чем вам помочь..."
               [(ngModel)]="inputValue"
               [ngModelOptions]="{standalone: true}"
               (ngModelChange)="onInput($event)" />
        <app-button [title]="'Заказать услугу'"
                    (click)="submit()"
                    class="button_type__submit">
        </app-button>
      </form>
      <ul class="tips-dropdown"
          *ngIf="tips.length">
        <li *ngFor="let tip of tips"
            (click)="onSelectTip(tip)">
          {{tip.description | lowercase}}
        </li>
      </ul>
    </div>

    <p class="jumbotron__example-query">
      Например:
      <span class="jumbotron__example-link"
            (click)="moveTextToInput(exampleQuery)"
            [textContent]="exampleQuery">
      </span>
    </p>
    <a class="jumbotron__action-link"
       href="#">стать исполнителем и начать зарабатывать</a>
  </div>
  <div class="jumbotron__video-container">
    <video class="jumbotron__video"
           poster="https://static.youdo.com/i/video/frame.jpg"
           loop
           autoplay
           muted>
      <source src="https://static.youdo.com/i/video/hero_video.mp4"
              type="video/mp4" />
    </video>
  </div>
</section>
