@import "../../styles/variables.scss";
$minWidth: 260px;

:host {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;

  min-width: $minWidth;

  background-color: $color-white;
  box-shadow: 0 1px 5px $color-black-opacity-light;
}

.dropdown-list,
.nested-list {
  &__li &__link {
    position: relative;

    display: block;
    padding: 5px 10px;

    font-weight: 700;
    font-size: 1rem;

    &:hover {
      color: $color-orange-normal !important;
    }
  }
}

.dropdown-list {
  &__li &__link {
    color: $color-black-opacity-darken;

    &:hover::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -5px;
      z-index: 2;

      display: block;
      width: 20px;
      height: 20px;

      background-color: $color-lightgray-lightest;
      border: 1px solid $color-black-opacity-light;
      transform: rotate(45deg);
    }
  }

  &__li:hover .nested-list {
    display: block;

    background-color: $color-lightgray-lightest;
  }
}

.nested-list {
  position: absolute;
  top: 0;
  left: 100%;

  display: none;
  min-width: $minWidth;
  min-height: 100%;
  max-height: calc(100vh - 120px);
  margin-left: -6px;
  padding: 15px 20px;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: $color-white;
  box-shadow: 0 1px 5px $color-black-opacity-light;

  &__li &__link {
    font-weight: normal;
    color: $color-black-opacity-normal;
  }
}
