@import "../../../styles/variables.scss";

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-black-opacity-light;
}

.modal {
  &__modal {
    width: 32em;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1.5rem;

    background-color: $color-white;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
