@import "../../styles/variables.scss";

:host {
  .auth {
    &__form {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;
    }
  }
}

// WARNING duplicate code
// TODO move to diff scss file for form's styles or label component
label {
  margin-bottom: 5px;

  font-size: 0.9rem;
  color: $color-lightgray-dark;
}

// WARNING duplicate code
// TODO move to diff scss file for form's styles or input component
input {
  width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 0.8rem;

  font-weight: 400;
  font-size: 1rem;
  color: $color-lightgray-dark;

  background-color: $color-white;
  border: 1px solid $color-lightgray-light;
  border-radius: $border-radius-normal;

  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
