<ul class="category-list">
  <li routerLink="/youdo/tasks-all-any-all-1" class="link category-list__li">
    Все категории
  </li>
  <li
    routerLink="/youdo/tasks-all-any-{{ category.key }}-1"
    class="link category-list__li"
    (click)="isDisabled && selectCategory(category)"
    *ngFor="let category of categories"
    [ngClass]="{ isActive: category.id === selectedCategoryId }"
  >
    {{ category.text }}
    <ul class="category-list__subcategories-list">
      <li
        class="link category-list__li"
        *ngFor="let subcategory of category.subcategories"
      >
        {{ subcategory.name }}
      </li>
    </ul>
  </li>
</ul>
