<div class="tasks-page">
  <div class="left-block">
    <app-filter-header></app-filter-header>
    <ul class="tasks-page__tasks-list">
      <li>
        <app-task-preview
          *ngFor="let Task of tasks; let i; as: index"
          [task]="i"
        ></app-task-preview>
      </li>
    </ul>
  </div>
  <div class="right-block">
    <app-verification-banner></app-verification-banner>
    <ul class="category-list">
      <li
        routerLink="/youdo/tasks-all-any-all-1"
        class="link category-list__li"
      >
        Все категории
      </li>
      <li
        routerLink="/youdo/tasks-all-any-{{ category.key }}-1"
        class="link category-list__li"
        *ngFor="let category of categories"
      >
        {{ category.text }}
      </li>
    </ul>
  </div>
</div>
