<div class="popup__modal">
  <header class="popup__header">
    <h3>{{ popupTitle }}</h3>
    <button *ngIf="isShowCloseBtn" (click)="closeDialog()">x</button>
  </header>
  <ng-content *ngTemplateOutlet="bodyComponent"> </ng-content>
  <footer class="popup__footer">
    <button *ngIf="isShowSubmitBtn" class="popup__btn" (click)="onSubmit()">
      {{ submitTitle }}
    </button>
    <button *ngIf="isShowCancelBtn" class="popup__btn" (click)="closeDialog()">
      {{ cancelTitle }}
    </button>
  </footer>
</div>
