@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  color: $text-color;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;

  cursor: pointer;
}

ul {
  padding: 0;

  list-style: none;
}

input,
textarea,
select {
  box-sizing: border-box;

  outline: none;
}
