$color-white: #ffffff;
$color-transparent: transparent;
$color-balihai-normal: #809cb0;

/* black */
$color-black-opacity-normal: #000000;
$color-black-opacity-light: rgba(0, 0, 0, 0.25);
$color-black-opacity-dark: rgba(0, 0, 0, 0.5);
$color-black-opacity-darken: rgba(0, 0, 0, 0.7);
/* black */

/* lightgray */
$color-lightgray-normal: #c3c3c3;
$color-lightgray-light: lighten($color-lightgray-normal, 5%);
$color-lightgray-lighten: lighten($color-lightgray-normal, 10%);
$color-lightgray-lightest: lighten($color-lightgray-normal, 20%);
$color-lightgray-dark: darken($color-lightgray-normal, 25%);
/* lightgray */

/* blue */
$color-blue-normal: #4de7ff;
$color-blue-light: lighten($color-blue-normal, 5%);
$color-blue-dark: darken($color-blue-normal, 25%);
$color-blue-darken: rgba(darken($color-blue-normal, 30%), 0.4);
/* blue */

/* orange */
$color-orange-normal: #ff8a00;
$color-orange-light: lighten($color-orange-normal, 5%);
$color-orange-lighten: lighten($color-orange-normal, 40%);
$color-orange-dark: darken($color-orange-normal, 50%);
/* orange */

/* border-radius */
$border-radius-normal: 5px;
/* border-radius */
