$text-color: #444444;
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$dropdown-item-color: #6a6a6a;
$dropdown-shadow-light-color: rgba(0, 0, 0, 0.1);
$dropdown-shadow-color: rgba(0, 0, 0, 0.3);
$jumbotron-overlay-color: rgba(0, 0, 0, 0.5);
$form-shadow-color: rgba(0, 0, 0, 0.25);
$orange: #ff8a00;
$orange-dark: rgba(255, 138, 0, 0.4);
$gray-link: hsla(0, 0%, 100%, 0.7);
$gray-link-hover: hsla(0, 0%, 100%, 0.9);
$blue-light-link: #80e6ff;
$blue-light-link-border: rgba(128, 228, 255, 0.4);
$blue-light-link-hover: #4de7ff;
$dropdown-link-color: #2abf19;
$nested-dropdown-color: #f4f4f4;
$form-color: #fbf8ef;
$form-label-color: #9b9b9b;
$form-border-color: #c3c3c3;
$form-button-color: #e78900;
$form-button-hover-color: #feaf22;
$form-border-radius: 5px;
$form-link-terms: #4099fb;
$form-link-terms-hover: #ff280c;
$form-link-enter: #809cb0;
$price-bg: #fff1a6;
$task-preview-border: #e3ebf1;
