$text-color: #444444;
$white: #ffffff;
$transparent: transparent;
$jumbotron-overlay-color: rgba(0, 0, 0, 0.5);
$form-shadow-color: rgba(0, 0, 0, 0.25);
$orange: #ff8a00;
$orange-dark: rgba(255, 138, 0, 0.4);
$gray-link: hsla(0, 0%, 100%, 0.7);
$gray-link-hover: hsla(0, 0%, 100%, 0.9);
$blue-light-link: #80e6ff;
$blue-light-link-border: rgba(128, 228, 255, 0.4);
$blue-light-link-hover: #4de7ff;
