<section *ngIf="isLoading === false"
         class="task-detail">
  <h4 class="task-detail__title">{{ task.description }}</h4>
  <div class="task-detail__status-bar">
    <div class="task-detail__status">Открыто</div>
    <div>10 просмотров</div>
    <div>
      Создано {{ task.createDate | date: "dd.MM.yyyy" }},
      {{ task.createDate | date: "hh:mm" }}
    </div>
    <!-- <div>{{ task.category.subcategories.title_ru }}</div> -->
  </div>
  <article class="task-detail__card">
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Начать</strong>
      <span class="task-detail__task-value">{{ task.executionTime.startDate | date: "dd.MM.yyyy" }},
        {{ task.executionTime.startTime | date: "hh:mm" }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Завершить</strong>
      <span class="task-detail__task-value">{{ task.executionTime.endDate | date: "dd.MM.yy" }},
        {{ task.executionTime.endTime | date: "hh:mm" }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Стоимость</strong>
      <span class="task-detail__task-value">{{ task.budget }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Оплата задания</strong>
      <span class="task-detail__task-value">Напрямую исполнителю без гарантий и
        компенсаций</span>
    </div>
    <div class="task-detail__task-item task-detail__task-item_type_important">
      <strong class="task-detail__task-property">Описание</strong>
      <span class="task-detail__task-value">{{ task.comment }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Дополнительные условия</strong>
      <span class="task-detail__task-value">Исполнитель должен иметь документы
        для оформления
        расписки/доверенности</span>
    </div>
    <app-button *ngIf="isShowSuggestBtn"
                [title]="'Предложить свои услуги'"
                (click)="showDialog()"></app-button>
  </article>
</section>

<ng-container *ngIf="task?.suggestions.length">
  <app-suggestion *ngFor="let suggestion of task.suggestions"
                  [suggestion]="suggestion">
  </app-suggestion>
</ng-container>

<app-modal modalTitle="Предложить свои услуги"
           *ngIf="isShowDialog"
           (close)="isShowDialog = false"
           [bodyComponent]="body">
  <ng-template #body>
    <form class="task-detail__form"
          [formGroup]="form">
      <div class="form-group">
        <label for="suggestion-price">Сколько вы хотите за работу?</label>
        <input formControlName="price"
               class="task-detail__field"
               type="number"
               id="suggestion-price">
      </div>
      <div class="form-group">
        <label for="suggestion-price">Выберите тип оплаты:</label>
        <select formControlName="paymentType"
                name="paymentType">
          <option value="cash"
                  selected>Наличными</option>
          <option value="creditCard">Банковской картой</option>
        </select>
      </div>
      <div class="form-group">
        <label for="suggestion-commentary">Комментарий:</label>
        <textarea formControlName="commentary"
                  class="task-detail__field"
                  id="suggestion-commentary"
                  cols="50"
                  rows="10"></textarea>
      </div>
      <app-button [title]="'Отправить'"
                  (click)="onSubmit()"></app-button>
    </form>
  </ng-template>
</app-modal>