<div class="profile-summary__status-bar">
    <p *ngIf="userIsOnline; else userIsOffline"
       class="profile-summary__status_online">
        Сейчас на сайте
    </p>
    <ng-template #userIsOffline>
        <p>Пользователь не в сети</p>
    </ng-template>
    <!-- <p class="profile-summary__views">{{user.viewsCounter}} просмотров профиля</p> -->
</div>
<h1>
    {{isMyProfile ? 'Здравствуйте, ' : 'Здравствуйте, меня зовут '}} {{user?.personalInfo.firstName}}
</h1>
<!-- TODO check if I could use app-layout here -->
<div class="profile-summary__info-block">
    <img class="profile-summary__avatar"
         src="{{user?.personalInfo.avatar}}"
         alt="avatar" />
    <div>
        <p class="profile-summary__age">Возраст: {{userAge}}</p>
        <p class="profile-summary__address">{{user?.personalInfo.address}}</p>
        <div class="profile-summary__tasks">
            <p class="profile-summary__tasks_done">Всего выполнено заданий: {{user?.taskInfo.finishedTasks}}</p>
            <p class="profile-summary__tasks_created">Всего создано заданий: {{user?.taskInfo.created}}</p>
        </div>
        <div class="profile-summary__rating">Средний рейтинг: </div>
        <p class="profile-summary__reviews-count">Всего отзывов: {{user?.workInfo.reviews.total}}</p>
    </div>
</div>
<app-button *ngIf="!isMyProfile"
            [title]="'Задать вопрос'"></app-button>