@import "../../../styles/variables.scss";

.profile-summary {
  &__status-bar {
    display: flex;
    justify-content: space-between;
  }

  &__status_online {
    color: $color-green;
  }

  &__info-block {
    display: flex;
  }

  &__avatar {
    width: 30%;
  }
}
