<form *ngIf="!isLoading" class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2 class="form__title">Заполните заявку</h2>
  <div class="form__group">
    <label for="title" class="form__label">Мне нужно</label>
    <input
      formControlName="description"
      type="text"
      id="title"
      class="form__field form__field_w_100"
      placeholder="Напишите, чем вам помочь..."
      required
    />
  </div>

  <div class="form__group group-inputs">
    <select
      formControlName="category"
      class="form__field"
      required
      (input)="updateSelectSubcategory()"
    >
      <option
        *ngFor="let category of categories"
        value="{{ category.title_en }}"
      >
        {{ category.title_ru }}
      </option>
    </select>
    <select formControlName="subcategory" class="form__field" required>
      <!-- <option value="{{ currentSubcategoryObject.title_en }}">
        {{ currentSubcategoryObject.title_ru }}
      </option> -->
      <option
        *ngFor="let subcategory of currentCategoryObject.subcategories"
        value="{{ subcategory.title_en }}"
      >
        {{ subcategory.title_ru }}
      </option>
    </select>
  </div>

  <div class="form__group">
    <label for="comment" class="form__label"
      >Опишите пожелания и детали, чтобы исполнители лучше оценили вашу задачу
    </label>
    <textarea
      formControlName="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form__field form__field_w_100"
      placeholder="Пример заявки"
      required
    ></textarea>
  </div>

  <div class="form__group group-date">
    <label class="form__label">Дата и время</label>
    <select
      formControlName="time"
      class="form__field field_margin_left"
      #selectTime
      required
    >
      <option value="start" selected>Начать работу</option>
      <option value="end">Закончить работу</option>
      <option value="period">Указать период</option>
    </select>
  </div>

  <div class="form__group">
    <div
      class="group-actions"
      *ngIf="selectTime.value === 'start' || selectTime.value === 'period'"
    >
      <label *ngIf="selectTime.value === 'period'" class="form__label">
        Начать
      </label>
      <div class="group-actions__inputs-action">
        <input formControlName="startDate" type="date" class="form__field" />
        <input
          formControlName="startTime"
          type="time"
          class="form__field field_margin_left"
        />
      </div>
      <div class="group-actions__links-action">
        <a
          href="#"
          class="form__link form__link_action form__link_font-size_xs"
        >
          Сегодня
        </a>
        <a href="#" class="form__link form__link_action form__link_font-size_xs"
          >Завтра</a
        >
      </div>
    </div>

    <div
      class="group-actions"
      *ngIf="selectTime.value === 'end' || selectTime.value === 'period'"
    >
      <label *ngIf="selectTime.value === 'period'" class="form__label"
        >Завершить
      </label>
      <div class="group-actions__inputs-action">
        <input formControlName="endDate" type="date" class="form__field" />
        <input
          formControlName="endTime"
          type="time"
          class="form__field field_margin_left"
        />
      </div>
      <div class="group-actions__links-action">
        <a href="#" class="form__link form__link_action form__link_font-size_xs"
          >Сегодня
        </a>
        <a href="#" class="form__link form__link_action form__link_font-size_xs"
          >Завтра</a
        >
      </div>
    </div>
  </div>

  <div class="form__group">
    <label class="form__label">Адрес</label>
    <input
      formControlName="address"
      type="text"
      class="form__field form__field_w_100"
      placeholder="Улица, дом, строение, корпус"
      required
    />
    <a href="#" class="form__link_action">Добавить ещё один адрес</a>
  </div>

  <div class="form__group">
    <input
      formControlName="isBusiness"
      type="checkbox"
      id="business"
      class="form__field form__field_type_checkbox"
    />
    <label for="business" class="form__label form__label_type_checkbox">
      Я использую YouDo для бизнеса, нужны закрывающие документы
    </label>
  </div>

  <div class="form__group">
    <label for="budget" class="form__label"
      >На какой бюджет вы рассчитываете?</label
    >
    <input
      formControlName="budget"
      type="range"
      id="budget"
      class="form__field"
      min="0"
      max="20000"
    />
    <label class="form__label"
      >или укажите примерную стоимость
      <input
        type="number"
        formControlName="budget"
        class="form__field field_margin_left"
      />
    </label>
  </div>

  <div class="form__group">
    <label class="form__label">Ваши контакты</label>
    <div class="group-contacts">
      <input
        formControlName="fullName"
        type="text"
        class="form__field"
        placeholder="Имя Фамилия"
        required
      />
      <input
        formControlName="email"
        type="email"
        class="form__field"
        placeholder="E-mail"
        required
      />
      <input
        formControlName="tel"
        type="tel"
        class="form__field"
        placeholder="Ваш телефон"
        required
      />
    </div>
    <p>
      Уже зарегистрированы?
      <a href="#" class="form__link form__link_action">Войдите!</a>
    </p>
  </div>

  <div class="form__group">
    <label class="form__label">Дополнительные условия</label>
    <input
      formControlName="isSubscribeSuggestions"
      type="checkbox"
      id="subscribe-suggestions"
      class="form__field form__field_type_checkbox"
      checked
    />
    <label
      for="subscribe-suggestions"
      class="form__label form__label_type_checkbox"
    >
      Получать email-уведомления о новых предложениях
    </label>
    <input
      formControlName="isShowOnlyToExecutors"
      type="checkbox"
      id="show-only-executors"
      class="form__field form__field_type_checkbox"
    />
    <label
      for="show-only-executors"
      class="form__label form__label_type_checkbox"
    >
      Показывать мое задание только исполнителям
    </label>
  </div>

  <div class="form__group">
    <button
      type="submit"
      [disabled]="!form.valid"
      class="form__btn_type_submit"
    >
      Опубликовать
    </button>
  </div>

  <div class="form__group">
    <!-- just for validation, not for sending to server -->
    <input
      type="checkbox"
      id="terms"
      class="form__field form__field_type_checkbox"
      checked
    />
    <label for="terms" class="form__label form__label_type_checkbox">
      Я согласен с
      <a href="#" class="form__link-terms form__link">
        правилами сайта
      </a>
    </label>
    <p class="form__label">
      Нажимая «Опубликовать», вы соглашаетесь с правилами платёжного сервиса
      <a
        href="#"
        class="form__link form__link_color_gray form__link_border_solid"
        >«Единая касса — Безопасная Сделка»
      </a>
      и сервиса
      <a
        href="#"
        class="form__link form__link_color_gray form__link_border_solid"
        >«Сделка без риска»</a
      >. Ваш банк может взимать дополнительную комиссию.
      <a
        href="#"
        class="form__link form__link_color_gray form__link_border_dotted"
        >Отключить Сделку без риска</a
      >
    </p>
  </div>
</form>
