<ul class="category-list"
    *ngIf="categories; else loading">
  <li (click)="selectAll()"
      class="link category-list__li">
    Все категории
  </li>
  <li class="link category-list__li"
      *ngFor="let category of categories"
      (click)="selectCategory( category)"
      [ngClass]="{
      isActive: category.key === selectedCategory
    }">
    {{ category.text }}
    <ul class="category-list__subcategories-list">
      <li (click)="selectSubcategory(category, subcategory); $event.stopPropagation()"
          class="link category-list__li"
          *ngFor="let subcategory of category.subcategories">
        {{ subcategory.name }}
      </li>
    </ul>
  </li>
</ul>

<ng-template #loading>...loading</ng-template>
