<section *ngIf="isLoading === false" class="task-detail">
  <h4 class="task-detail__title">{{ task.description }}</h4>
  <div class="task-detail__status-bar">
    <div class="task-detail__status">Открыто</div>
    <div>10 просмотров</div>
    <div>
      Создано {{ task.createDate | date: "dd.MM.yyyy" }},
      {{ task.createDate | date: "hh:mm" }}
    </div>
    <!-- <div>{{ task.category.subcategories.title_ru }}</div> -->
  </div>
  <article class="task-detail__card">
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Начать</strong>
      <span class="task-detail__task-value"
        >{{ task.executionTime.startDate | date: "dd.MM.yyyy" }},
        {{ task.executionTime.startTime | date: "hh:mm" }}</span
      >
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Завершить</strong>
      <span class="task-detail__task-value"
        >{{ task.executionTime.endDate | date: "dd.MM.yy" }},
        {{ task.executionTime.endTime | date: "hh:mm" }}</span
      >
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Стоимость</strong>
      <span class="task-detail__task-value">{{ task.budget }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Оплата задания</strong>
      <span class="task-detail__task-value"
        >Напрямую исполнителю без гарантий и компенсаций</span
      >
    </div>
    <div class="task-detail__task-item task-detail__task-item_type_important">
      <strong class="task-detail__task-property">Описание</strong>
      <span class="task-detail__task-value">{{ task.comment }}</span>
    </div>
    <div class="task-detail__task-item">
      <strong class="task-detail__task-property">Дополнительные условия</strong>
      <span class="task-detail__task-value"
        >Исполнитель должен иметь документы для оформления
        расписки/доверенности</span
      >
    </div>
    <button class="task-detail__btn_type_submit" type="submit">
      Предложить свои услуги
    </button>
  </article>
</section>
