<app-layout [layout]="'fromBigToSmall'" [leftBlock]="leftBlock" [rightBlock]="rightBlock">
  <ng-template #leftBlock>
    <app-section-header [title]="title" [bodyComponent]="isMyTasks ? myTasks : allTasks">
      <ng-template #allTasks>
        <p>
          Отклики на задания доступны только для
          <a href="#" class="link">исполнителей</a> YouDo
        </p>
      </ng-template>
      <ng-template #myTasks>
        <!-- TODO fetch data on click, no routing -->
        <!-- maybe instead of button there should be a radio button? -->
        <button (click)="onTabClick(filters.Executor)">Я исполнитель</button>
        <button (click)="onTabClick(filters.Master)">Я заказчик</button>
      </ng-template>
    </app-section-header>
    <ul class="tasks-page__tasks-list" *ngIf="!isLoading; else loading">
      <li>
        <app-task-preview *ngFor="let task of tasks" [task]="task"></app-task-preview>
      </li>
    </ul>
  </ng-template>
  <ng-template #rightBlock>
    <app-verification-banner></app-verification-banner>
    <app-categories-list></app-categories-list>
  </ng-template>
</app-layout>

<ng-template #loading>...loading</ng-template>