<app-layout [layout]="'fromBigToSmall'" [leftBlock]="leftBlock" [rightBlock]="rightBlock">
  <ng-template #leftBlock>
    <app-filter-header></app-filter-header>
    <ul class="tasks-page__tasks-list">
      <li>
        <app-task-preview *ngFor="let task of tasks" [task]="task"></app-task-preview>
      </li>
    </ul>
  </ng-template>
  <ng-template #rightBlock>
    <app-verification-banner></app-verification-banner>
    <app-categories-list></app-categories-list>
  </ng-template>
</app-layout>